
@{
    ViewData["Title"] = "File Cipher";
}

<section class="hero py-5">
    <div class="container ">
        <div class="row  justify-content-between">
            <div class="col">
                <h1>Welcome to FileCipher</h1>
                <p>We are here to help you secure your files and protect them from unauthorized access. Using advanced encryption techniques, we provide the perfect solution to keep your personal and professional data completely safe.</p>

            </div>
            <div class="col">
                <img class="img-fluid" src="~/img/hero.png" alt="Thumbnail image">
            </div>
        </div>
    </div>
</section>
<!-- end hero -->
<!--Start Work -->
<section class="work">
    <div class="container">
        <div class="row  justify-content-between">
            <div class="col-sm-3 col-md-4">
                <h2>How we work</h2>
                <p>We offer file encryption services using powerful algorithms that ensure your data is protected from theft or hacking.</p>
                <button type="button" class="link">
                    Get in touch with us
                    <i class="fa-solid fa-arrow-right-long"></i>

                </button>
            </div>
            <div class="col-sm-6 offset-sm-3 col-md-7 offset-md-0">
                <div class="row">
                    <div class="col-5 col-sm-6">
                        <img src="~/img/pointer 1.png" alt="">
                        <h4>Strategy</h4>
                        <p>At FileCipher, we believe in a comprehensive approach to file security. Our strategy focuses on providing robust and reliable encryption solutions that are easy to use and highly effective. We continuously update our technologies to stay ahead of potential threats and ensure maximum protection for your data.</p>
                    </div>
                    <div class="col-6 col-sm-6">
                        <img src="~/img/pointer 1 (2).png" alt="">
                        <h4>Wireframing</h4>
                        <p>Our user interface is designed with you in mind. We start with detailed wireframing to create an intuitive and seamless experience. This helps us ensure that our services are easy to navigate and use, even for those who are not tech-savvy.</p>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-6 col-sm-6">
                        <img src="~/img/pointer 1 (3).png" alt="">
                        <h4>Design</h4>
                        <p>FileCipher's design philosophy centers around simplicity and functionality. Our clean and modern design ensures that you can easily access the features you need without any hassle. We prioritize user experience to make sure our services are not only effective but also enjoyable to use.</p>
                    </div>
                    <div class="col-6 col-sm-6">
                        <img src="~/img/pointer 1 (1).png" alt="">
                        <h4>Development</h4>
                        <p>Our development team is dedicated to creating a secure and reliable platform for file encryption and decryption. Using the latest technologies and best practices, we build and maintain a system that you can trust. Continuous testing and improvement are at the core of our development process to ensure the highest standards of security and performance.</p>
                    </div>
                </div>
            </div>
        </div>
</section>
<!--End Work -->
<!-- start design -->
<section class="design" id="F1">
    <div class="container">
        <h2>Why choose FileCipher ?</h2>
        <div class="row flex-wrap justify-content-center  ">
            <div class="col-3 item ">
                <img src="~/img/Icon.png" alt="">
                <h5>Advanced Security</h5>
                <p>At FileCipher, we utilize the latest encryption standards to ensure your data is protected against unauthorized access. Our robust algorithms are designed to provide maximum security, making it virtually impossible for your files to be compromised.</p>
            </div>
            <div class=" col-3  item">
                <img src="~/img/Icon (1).png" alt="">
                <h5>User-Friendly</h5>
                <p>We believe that security should not come at the cost of usability. Our platform features a simple and intuitive interface, making it easy for anyone to encrypt and decrypt their files without requiring technical expertise. With clear instructions and a straightforward process, you can secure your files in just a few clicks.</p>
            </div>
            <div class=" col-3 item">
                <img src="~/img/Icon (2).png" alt="">
                <h5>Reliable</h5>
                <p>When it comes to protecting your data, reliability is key. FileCipher is a trusted service that you can depend on to keep your files safe. Our systems are built with redundancy and security in mind, ensuring that your data is always available and protected.</p>
            </div>
            <div class="col-3  item">
                <img src="~/img/Icon (3).png" alt="">
                <h5>Comprehensive Support</h5>
                <p>We offer 24/7 support to assist you with any issues or questions you may have. Whether you need help with encryption, decryption, or any other aspect of our service, our dedicated support team is always here to help.</p>
            </div>
            <div class="col-3 item">
                <img src="~/img/Icon (4).png" alt="">
                <h5>Flexible Customization</h5>
                <p>Every user has unique needs, and we cater to them by providing template customization options. You can tailor our services to fit your specific requirements, ensuring that you get the most out of FileCipher.</p>
            </div>
            <div class="col-3 item">
                <img src="~/img/Icon (5).png" alt="">
                <h5>Fast and Efficient</h5>
                <p>Time is valuable, and we respect that. Our service is designed for quick delivery, ensuring that your files are encrypted or decrypted promptly without compromising on security or quality.</p>
            </div>

        </div>
    </div>
</section>
<!-- end design -->
<!--Start feedback -->
<section class="feedback" id="feedbacko">
    <div class="container">
        <div class="row  ">
            <div class=" client col-sm-4 col-md-4">
                <h2>What our clients say about us</h2>
                <p>"FileCipher has revolutionized the way we handle sensitive data. The encryption process is seamless and the user interface is incredibly intuitive. We feel much more secure knowing our files are protected by the latest encryption standards."</p>
            </div>
            <div class=" feedback__text col-sm-6 offset-sm-3 col-md-7 offset-md-0">
                <h5>"The best site I have used to encrypt files."</h5>
                <div class=" feedback__person d-flex  justify-content-between">
                    <div class="info  col-4">

                        <div class="">
                            <span class="name">Mohamed</span>
                            <span class="title">citizen</span>
                        </div>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-chevron-left"></i>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--End feedback -->
<!-- start faq -->
<section class="faq" id="Q1">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Frequently asked questions</h4>
            </div>
            <div class="col-md-8">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                <h5><span class="accNumber">01</span> What encryption algorithm does FileCipher use?</h5>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">We use the AES (Advanced Encryption Standard) algorithm for encryption. Additionally, our encryption process is enhanced with a hybrid numerical algorithm combining trisection and Newton-Raphson methods for added security and efficiency.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                <h5> <span class="accNumber">02</span>How do I encrypt a file using FileCipher?</h5>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Encrypting a file with FileCipher is simple. Just upload your file to our platform, choose your encryption settings, and let our system handle the rest. You'll receive an encrypted file that you can securely store or share.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                <h5> <span class="accNumber">03</span> Can I decrypt my files if I lose my password?</h5>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">For security reasons, we do not store your passwords. If you lose your password, it is impossible to decrypt the files. We recommend keeping a secure record of your passwords.</div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFour" aria-expanded="false"
                                    aria-controls="flush-collapseFour">
                                <h5> <span class="accNumber">04</span> How secure is FileCipher?</h5>
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">We use state-of-the-art encryption algorithms, specifically AES, and continuously update our security protocols to protect against new threats. Our platform is designed with multiple layers of security to ensure your data remains safe.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFive" aria-expanded="false"
                                    aria-controls="flush-collapseFive">
                                <h5> <span class="accNumber">05</span>Do you offer customer support?</h5>
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse"
                             aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Yes, we offer 24/7 customer support to assist you with any issues or questions you may have. Our dedicated support team is always ready to help.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- end faq -->
